body {
    font-size: 16px;
    background-image: url(./wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg);
    background-size: 100rem 100rem 100rem 100rem;
    background-position: center;

  }

h1 {
    text-align: center;
    margin: 1rem;
    padding-top: 2rem;
}

.header {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    column-gap: 1rem;
    justify-content: center;
}

.five-day {
    
    margin: 4rem;
    /* display: none; */
}

.card {
    margin: 2rem;
}

.history {
   margin: 4px;
}